.h-100 {
    background: linear-gradient(rgba(255, 255, 255, .7), rgba(255, 255, 255, .4)), url("../../../assets/images/login/bg-01.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.mat-card {
    width: 400px;
    padding-bottom: 33px;
    padding-top: 62px;
}

@media (min-width: 480px) {
    .mat-card {
        padding-left: 60px;
        padding-right: 60px;
    }
}

.principal-title {
    padding-bottom: 53px;
}

.mat-form-field {
    margin-bottom: 30px;
}

.full-width {
    width: 100%;
}

.mat-flat-button {
    padding: 5px;
    margin-bottom: 20px;
}

.mat-error {
    color: purple;
}