<div class="container">
    <div class="row header" style="background-image: url('{{profile?.bannerImageURL || defaultBanner}}');">
        <div class="row">
            <div class="col col-md-3">
                <img class="user-avatar-header" [src]="profile?.photoProfileURL || defaultImgAvatar" />
            </div>
            <div class="col">
                <p>{{profile?.fullName}}</p>
            </div>
        </div>
        <div class="row edit-button" *ngIf="canEdit">
            <div class="col col-md-1">
                <button mat-raised-button [matMenuTriggerFor]="menu" class="" color="primary">
                    <mat-icon>edit</mat-icon> &nbsp; Editar
                </button>

                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="fileInputPhotoProfile.click()">
                        <mat-icon>publish</mat-icon>
                        <span>Subir foto de perfil</span>
                    </button>
                    <input id="imagePublication" hidden type='file' #fileInputPhotoProfile
                        (change)="updatePhotoProfile($event);" accept="image/*" />
                    <!-- <button mat-menu-item>
                        <mat-icon>publish</mat-icon>
                        <span>Subir foto de portada</span>
                    </button> -->
                    <button mat-menu-item (click)="openDialog()">
                        <mat-icon>edit</mat-icon>
                        <span>Editar detalles</span>
                    </button>
                </mat-menu>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col col-md-3">
            <mat-card>
                <mat-card-title>Detalles</mat-card-title>
                <div class="row">
                    <div class="col">
                        Telefono: <div *ngIf="profile?.phone"><b>{{profile?.phone}}</b></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        Ubicación: <div *ngIf="profile?.location"><b>{{profile?.location}}</b></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        Colegio: <div *ngIf="profile?.location"><b>{{profile?.college}}</b></div>
                    </div>
                </div>
            </mat-card>
        </div>
        <div class="col">
            <div class="row">
                <div class="col">
                    <mat-card class="new-publication">
                        <div class="row">
                            <div class="col col-md-1">
                                <img class="user-avatar" [src]="profile?.photoProfileURL || defaultImgAvatar"
                                    (click)="navigateToProfile(profile?.idAccount)" />
                            </div>
                            <div class="col think-container">
                                <button mat-stroked-button class="full-width think-button" (click)="openDialogPublication()">¿Qué estás
                                    pensando, {{profile?.fullName}}?</button>
                            </div>
                        </div>
                    </mat-card>
                </div>
            </div>

            <div class="row" *ngFor="let publication of publications">
                <div class="col">
                    <mat-card class="new-publication">
                        <div class="row">
                            <div class="col col-md-1">
                                <img class="user-avatar" (click)="navigateToProfile(publication?.idAccount)"
                                    [src]="publication.photoProfileURL|| defaultImgAvatar" />
                            </div>
                            <div class="col think-container">
                                <b>{{publication.fullName}}</b> &nbsp; {{publication.date | date}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col" *ngIf="publication.description != 'undefined'">
                                {{publication.description}}
                            </div>
                            <div class="col" *ngIf="publication.idTypePublication == 2">
                                Actualizó su foto de perfil
                            </div>
                        </div>
                        <div class="row" *ngIf="publication.imageURL">
                            <div class="col" align="middle">
                                <img class="image-publication" [src]="publication.imageURL" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <mat-icon class="like-info">thumb_up_alt</mat-icon> &nbsp; {{publication.likes}}&nbsp;
                                <div *ngIf="validateLike(publication.idAccountsWhoLiked, publication.idPublication)">
                                </div>
                            </div>
                            <div class="col" *ngIf="publication.comments">{{publication.comments.length}} comentario(s)
                            </div>
                        </div>
                        <mat-divider></mat-divider>
                        <div class="row">
                            <div class="col" align="middle">
                                <button id="{{publication.idPublication}}" mat-stroked-button class="publication-button"
                                    color="primary" (click)="like($event)">
                                    <mat-icon id="{{publication.idPublication}}">thumb_up</mat-icon> &nbsp; Me gusta
                                </button>
                                <button mat-stroked-button class="publication-button" (click)="commentsEnabled = true"
                                    color="primary">
                                    <mat-icon> chat_bubble</mat-icon> &nbsp; Comentar
                                </button>
                            </div>
                        </div>

                        <mat-divider></mat-divider>
                        <div class="row" *ngIf="commentsEnabled">
                            <div class="row">
                                <div class="col">
                                    <mat-form-field class="comment" (keyup.enter)="onEnterComment($event)"
                                        appearance="fill">
                                        <mat-label>Escribe un comentario</mat-label>
                                        <input matInput [id]="publication.idPublication">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row" *ngFor="let comment of publication.comments">
                                <div class="row">
                                    <div class="col">
                                        <img class="user-avatar-comment"
                                            [src]="comment?.photoProfileURL || defaultImgAvatar"
                                            (click)="navigateToProfile(comment?.idAccount)" />
                                        <b>{{comment.fullName}}</b>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">{{comment.description}}</div>
                                </div>
                                <div class="row">
                                    <div class="col">{{comment.date}}</div>
                                </div>
                            </div>
                        </div>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</div>