<div class="container">
    <div class="row">
        <div class="col">
            <mat-card class="new-publication">
                <div class="row">
                    <div class="col col-md-1">
                        <img class="user-avatar" [src]="profile?.photoProfileURL || defaultImgAvatar" />
                    </div>
                    <div class="col think-container">
                        <button mat-stroked-button class="full-width think-button" (click)="openDialog()">¿Qué estás pensando, {{profile?.fullName}}?</button>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
</div>