<div class="container">
    <div class="row">
        <div class="col">
            <mat-card class="new-publication">
                <div class="row">
                    <div class="col">
                        <img class="user-avatar" [src]="profile?.photoProfileURL || defaultImgAvatar" />
                    </div>
                    <div class="col">
                        <button type="button" class="btn btn-primary">Primary</button>
                    </div>
                </div>
              </mat-card>
        </div>
    </div>
</div>